<%= simple_form_for [@city,@category, @notice] do |f| %>
  <%= f.error_notification %>

  
       
            <%= f.label "Тема:", class: 'control-label' %>
            <%= f.text_field :notice, class: 'form-control', input_html: { maxlength: 60 }, disabled: true %>
      

      
            <%= f.label "Текст объявления:", class: 'control-label' %>
            <%= f.text_area :text, class: 'form-control', rows: 3, disabled: true %>
      
		</br>
		
		 <div class="form-group">
         <%= f.association :category, label: "Категория:  ", class: 'form-control', disabled: true %>
		  </div>
		  <div class="form-group">
         <%= f.association :city,label: "Город:", class: 'form-control', disabled: true %>
         </div>
		

            <%= f.label "Цена:", class: 'control-label' %>
                
		    <%= f.text_field :price, class: 'form-control', disabled: true %>
       
		
            <%= f.label "Автор:", class: 'control-label' %>
            <%= f.text_field :name, class: 'form-control', input_html: { maxlength: 20 }, disabled: true %>
            
		
		
		
            <%= f.label "Email:", class: 'control-label' %>
            <%= f.text_field :email, class: 'form-control', input_html: { maxlength: 20 }, disabled: true %>
        
		
		
		
		
            <%= f.label "Телефон:", class: 'control-label' %>
            <%= f.text_field :phone, class: 'form-control', input_html: { maxlength: 15 }, disabled: true %>
        
		
		</br>
		</br>
	
	<table class="table table-striped table-hover ">

 <thead>
    <tr>
	<th width="45%"></th>
	<th width="45%"></th>
	
     </tr>
  </thead>
  
    <tbody>
 <h4>Фото</h4>
  
 	
    <tr>
     <td>
	 <% if @notice.avatar.url(:original)!=nil %>
	 <div class='icon'><%= image_tag(@notice.avatar.url(:original), class: 'avatar', :size => "500") %></div>
	 </td>
	<% end %>	
	
	  <td>
	 <% if @notice.avatar1.url(:original)!=nil %>
	 <div class='icon'><%= image_tag(@notice.avatar1.url(:original), class: 'avatar', :size => "500" ) %></div>
	 </td>
	 	  
	  <% end %>
   </tr>	
 </tbody>
</table>	
	
 
     
	</br>
	
	  
          <%= f.label "Срок объявления:  ", class: 'control-label' %>
          <%= f.text_field :phone, class: 'form-control', input_html: { maxlength: 3 }, disabled: true %>   
         
	 

             
		
<% end %>
