<p id="notice"><%= notice %></p>
</br>

<div class="navbar-form navbar-right"><%= link_to 'Дать объявление', new_notice_path, :class => 'btn btn-primary' %></div>
<h5>* все обьявления проходят модерацию...см. Правила</h5>

</br>
</br>

<table class="table table-striped table-hover ">

 <thead>
    <tr>
	<th width="7%"></th>
	<th width="26%"><center>Объявление</center></th>
    <th width="7"></th>
	<th width="26%"><center>Объявление</center></th>
	 <th width="7%"></th>
	<th width="26%"><center>Объявление</center></th>
     </tr>
  </thead>
  
    <tbody>
 <h4>Последние объявления</h4>
  <% @notices.each_slice(3) do |a, b, c| %>
 	
    <tr>
     <td>
	 <div class='icon'><%= image_tag(a.avatar.url(:thumb), class: 'avatar', :size => "80") %></div>
	 </td>
	  
	  
	  <td><h4><%= link_to h(a.notice), notice_path(a.slug) %> </h4>
	      <h6><%= a.text %> </h6>
	  </td>
	
	  <td>
	
	 <% if b!=nil%>
	 <div class='icon'><%= image_tag(b.avatar.url(:thumb), class: 'avatar', :size => "80" ) %></div>
	 </td>
	  
	  
	  <td><h4><%= link_to h(b.notice), notice_path(b.slug) %></h4>
          <h6><%=  b.text %> </h6>
	  </td>
	  
	  <% end %>
	  
	   <td>
	   <% if c!=nil%>
	    <div class='icon'><%= image_tag(c.avatar.url(:thumb), class: 'avatar', :size => "80" ) %></div>
	 </td>
	  
	  
	  <td><h4><%= link_to h(c.notice), notice_path(c.slug) %></h4>
          <h6><%= c.text %> </h6>
	  </td>
	  
	  <% end %>
	  
	 </tr>
  <% end %>
   </tbody>
</table>

 <%= paginate(@notices) %>
 


