<p id="notice"><%= notice %></p>

<h1>Категории</h1>
 <% for cat in Category.roots %>
   
	
      <li><h3><%=  cat.name %></h3></li>
	
<% Category.walk_tree do |c1, level| %>
  <%= link_to "#{'-'*level}#{c1.name}", category_path(c1) %><br />
<% end %>
 ______--------
<% Category.first.walk_tree do |page, level| %>
  <%= link_to "#{'-'*level}#{page.name}", category_path(page) %><br />
<% end %> 

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th></th>
	  <th></th>
	  <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
 
    <% cat.children.each_slice(3) do |a,b,c| %>
      <tr>
	    
        <td><h4><%= a.name %></h4>
		<%  a.children.each do |cat1| %>
          <h5><%= cat1.name %></h5>
		<% end %>  </td>
		
		<% if b!=nil%>
		 <td><h4><%= b.name %></h4>
		 <%  b.children.each do |cat1| %>
          <h5><%= cat1.name %></h5>
		 <% end %> </td> 
		<% end %>  
		
		 <% if c!=nil%>
		  <td><h4><%= c.name %></h4>
		<%  c.children.each do |cat1| %>
          <h5><%= cat1.name %></h5>
		 <% end %>  </td>
		<% end %>   
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>

<br>

